.DS_Store
.idea
*.pdf

.DS_Store
.ipynb_checkpoints
**/.ipynb_checkpoints
.test.txt.swp
*.swp

ISLP_website.pdf
ISLR+Seventh+Printing.pdf
ISLRv2_corrected_June_2023.pdf

**/*.zip
tmp/

~$*
**/~$*

aclImdb_v1_extracted
aclImdb_v1.tar.gz

failed_banks
Improper_Linear_Models.ipynb
ISLP_website.pdf
ISLR+Seventh+Printing.pdf
ISLRv2_corrected_June_2023.pdf
ml_map.png

